---
- name: Check role variables
  assert:
    that:
      - phpfpm_version in phpfpm_supported_versions
      - phpfpm_log_level in phpfpm_allowed_log_levels
      - phpfpm_pools is defined
    msg: "Please read the role documentation, if you still cannot understand why role failed, add your issue."

- name: php-fpm.d pool
  include_tasks: "{{ role_path }}/tasks/pool.yml"
  with_items: "{{ phpfpm_pools }}"
  loop_control:
    loop_var: pool

- name: php-fpm.conf
  template:
    src: php-fpm.conf.j2
    dest: "{{ phpfpm_etc }}/php-fpm.conf"
    validate: "/opt/remi/php{{ phpfpm_version }}/root/usr/sbin/php-fpm -t -c %s"
  notify: restart php-fpm

- name: Customize php.ini
  ini_file:
    path: "{{ phpfpm_etc }}/php.ini"
    section: "{{ item.section | default('PHP') }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ phpfpm_ini }}"
  notify: restart php-fpm

- name: restart php-fpm
  systemd:
    name: "php{{ phpfpm_version }}-php-fpm"
    enabled: yes
    state: started
    daemon_reload: yes

- name: Notice
  debug:
    msg: "Be sure to have /opt/remi/php{{ phpfpm_version }}/root/usr/bin in your PATH env."
